* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 50px;
}

.imagem {
    width: 200px;
    height: 150px;
    border-radius: 20px;
}

.cabeca {
    margin-top: 50px;
    text-align: center;
}

.entrar {
    background-color: rgb(0, 0, 242);
    border-radius: 10px;
    height: 40px;
    width: 500px;
    margin-top: 50px;
    margin-left: 512px;
}

.esquerda {
    display: block;
    background-color: white;
    margin-right: 1200px;
    margin-top: -500px;
    height: 1000px;
    width: 400px;
}

.direita {
    display: block;
    background-color: white;
    margin-left: 1120px;
    margin-top: -1000px;
    height: 1000px;
    width: 400px;
}

.sorte {
    display: block;
    background-color: blueviolet;
    width: 500px;
    margin-top: -300px;
    margin-left: 520px;
}

.texto {
    margin-left: 5px;
    width: 500px;
}

.easter {
    color: blue;
    margin-top: 220px;
    margin-left: 720px;
}
