* {
    margin: 0;
    padding: 0;
}

a {
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 50px;
}

body {
    background-color: black;
    color: white;
}

.cabeca {
    margin-top: 50px;
    text-align: center;
}


.imagem {
    width: 200px;
    height: 150px;
    border-radius: 20px;
}

.sec1 {
    background-color: gray;
    border-radius: 10px;
    height: 40px;
    width: 500px;
    margin-top: 50px;
    margin-left: 512px;
}

.sec2 {
    background-color: gray;
    border-radius: 10px;
    height: 40px;
    width: 500px;
    margin-top: 100px;
    margin-left: 512px;
}

