* {
    margin: 0;
    padding: 0;
}

a {
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 50px;
}

body {
    background-color: black;
    color: white;
}

.cabeca {
    margin-top: 50px;
    text-align: center;
}


.imagem {
    width: 200px;
    height: 150px;
    border-radius: 20px;
}

.letter_icon {
    display: inline block;
    width: 50px;
    height: 50px;
    margin-right: 500px;
}

.texto1 {
    margin-top: -50px;
}

.sec1 {
    background-color: gray;
    border-radius: 10px;
    height: 50px;
    width: 500px;
    margin-top: 50px;
    margin-left: 512px;
    box-shadow: 5px 5px 5px;
}

.last-icon {
    display: inline block;
    width: 50px;
    height: 50px;
    margin-right: 500px;
}

.texto2 {
    margin-top: -50px;
}

.sec2 {
    background-color: gray;
    border-radius: 10px;
    height: 50px;
    width: 500px;
    margin-top: 100px;
    margin-left: 512px;
    box-shadow: 5px 5px 5px;
}


.rodape {
    margin-top: 205px;
}        
